{% extends 'base.html' %}

{% block content %}
{% if category_posts %}

        <h1 class="display-3">{{ cats }} Categories</h1>

        <ul>
        {% for post in category_posts %}
        <li>
            <a href="{% url 'article-detail' post.pk  %}">
            {{post.title}}  
            </a>: 
        
            -{{post.author}}  
            {%  if user.is_authenticated %}
            - <a href="{% url 'update_post' post.pk %}" class="btn btn-outline-primary">Edit</a>
            <a href="{% url 'delete_post' post.pk %}" class="btn btn-outline-primary">Delete</a>
            {% endif %}
            <br/>
            {{post.body|slice:":200"|safe}}
        </li>

        {% endfor %}
        </ul>
{% else %}
        <h2> this page doesnt exist</h2>

{% endif %}
        
{% endblock%}
    